<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/login2.css">
  <title>Login Page</title>
</head>

<body>

  <div class="bar1">
    <ul class="bar">
      <li class="logo"><a href="{{ url_for('site') }}"><img src="../static/images/logo2.jpg"></a></li>
      <li class="nav"><a href="{{ url_for('site') }}">X-Retail</a></li>
      <li>Today's Deals</li>
      <li>
        <form>
          <input type="search" name="Search" size="80" id="search">
          <label for="search">Search</label><br>
        </form>
      </li>
      <li class="login2"><a href="{{ url_for('login') }}">Log In</a></li>
      <li class="login2"><a href="{{ url_for('register') }}">Register</a></li>
      <li>Returns and Orders</li>
      <li class="cart"><a href="#"><img src="../static/images/w.png"></a></li>
    </ul>
  </div>

  <div class="titles">

    <h3>X-Retail</h3>
  </div>
  <div class="total">
    <h2 class="head">Log In</h2>
    <div class="labels">
      <form method="POST" action="{{ url_for('loginres') }}">
        <label for="emailId">
          <h3>Email Id</h3>
        </label><br>
        <input type="email" name="email" size="50"><br>
        <label for="Password">
          <h3>Password</h3>
        </label><br>
        <input type="password" name="password" size="50"><br>
        <h6 class="submit"> <input type="submit"> </h6>
      </form>
    </div>

    

  </div>
  </div>
</body>

</html>
